x64/
Debug/
Release/

*.log
*.filters
*.user
*.db
*.opendb
*.dll
*.ipch
*.generated

\.idea/
\.vs/
src/NN_PredictRadian/
src/NN_SpiralData/
src/NN_Gesture/

packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7/
/external/imgui/
